.filter {
  color: #999B9E;
  margin-top: 50px;
  margin-bottom: 40px;

  &__results {
    display: inline-block;
  }

  &__selector {
    float: right;
    display: flex;
    align-items: center;
  }

  &__gender {
    display: inline-block;
    margin-right: 15px;
  }

  &__dropdown {
    float: right;
  }
}