.search {
  background-color: #ffffff;
  border-radius: 4px;
  padding: 10px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
  display: flex;

  &__input {
    color: #4C4C4C;
    border-radius: 3px;
    border: solid #E1E2E6 1px;
    padding: 10px;
    margin-right: 10px;
    flex-grow: 1;

    &::placeholder {
      color: #BABCC1;
    }
  }

  &__btn {
    float: right;
    background-color: #52A2FF;
    border: solid 1px #52A2FF;
    border-radius: 3px;
    color: #ffffff;
    padding: 10px;
    width: 80px;

    &:hover {
      background-color: #87bfff;
    }
  }
}